* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: #312726;
    font-family: 'Supreme', sans-serif;
}

/* nav bar code */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 1000;
    transition: all 0.3s ease;
}

.logo {
    font-family: 'Clash Display', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.nav-links a,
.nav-icons a {
    position: relative;
    margin: 0 1.5rem;
    text-decoration: none;
    color: #312726;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 500;
    display: inline;
    padding-bottom: 5px;
}

.nav-links a::after,
.nav-icons a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #c39a06;
    transition: width 0.3s ease-in-out;
}

.nav-links a:hover::after,
.nav-icons a:hover::after {
    width: 100%;
}

.nav-links a:hover,
.nav-icons a:hover {
    transition: 0.2s all ease-in-out;
    color: #c39a06;
}

.nav-links a.active {
    font-weight: 700;
}

.nav-icons a {
    margin-left: 2rem;
    text-decoration: none;
    color: #312726;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 500;
}

/* for hero section */
.hero {
    height: 95vh;
    display: flex;
    padding: 0 4rem;
    padding-top: 100px;
    background-color: #f8f8f8;
}

.hero-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 4rem;
}

h1 {
    font-family: 'Clash Display', sans-serif;
    font-size: 6rem;
    line-height: 1;
    margin-bottom: 4rem;
    font-weight: 700;
    letter-spacing: -2px;
}

.hero-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.trending-section .tag {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
    display: block;
    font-weight: 500;
}

.trend-text {
    font-size: 1.2rem;
    line-height: 1.4;
    color: #312726;
}

.collection-info h2 {
    font-family: 'Clash Display', sans-serif;
    font-size: 1.8rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    font-weight: 600;
}

.brand-info p:first-child {
    font-weight: 700;
    margin-bottom: 1rem;
}

.brand-info p:last-child {
    line-height: 1.6;
    color: #666;
}

.explore-btn {
    background: #312726;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 30px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

.explore-btn:hover {
    background: #4a3e3d;
    transform: translateY(-2px);
}

.hero-image {
    flex: 1;
    position: relative;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 6rem 4rem 3rem;
}

.section-header h2 {
    font-family: 'Clash Display', sans-serif;
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1.1;
}

.view-all {
    color: #312726;
    text-decoration: none;
    /* text-decoration: underline; */
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
}

.view-all:hover {
    font-weight: 800;
}

.watch-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 0 3rem;
}

.watch-card {
    width: 320px;
    height: 460px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    background: white;
    padding: 2rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.card-tag {
    position: absolute;
    top: 2rem;
    left: 2rem;
    background: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 500;
    z-index: 1;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(69, 43, 43);
}

.dark {
    background: #3a2e2c;
    color: white;
}

.card-image {
    overflow: hidden;
    border-radius: 10px;
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image img {
    width: auto;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.watch-card:hover img {
    transform: scale(1.05);
}

.watch-info {
    padding: 1.5rem 0 0;
}

.watch-info h3 {
    font-family: 'Clash Display', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.watch-info p {
    color: #666;
    font-weight: 500;
}

.discover {
    padding: 4rem;
    background: white;
    margin: 0;
}

.discover-grid {
    display: flex;
    padding: 0 4rem;
    gap: 4rem;
}

.discover-text {
    flex: 1;
    padding-top: 2rem;
}

.discover-text p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    color: #312726;
}

.discover-text .trending {
    color: #666;
    margin: 2rem 0;
}

.discover-images {
    flex: 2;
    display: flex;
    gap: 2rem;
}

.discover-images img {
    flex: 1;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.discover-images img:hover {
    flex: 1;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.shop-brands {
    padding: 4rem;
    padding-top: 0;
    background: white;
}

.brands-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4rem;
    gap: 2rem;
}

.brand-card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    width: 40%;
    height: 600px;
}


.brand-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-info h3 {
    font-family: 'Clash Display', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.arrow-link {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.brands-list {
    flex: 1 1 calc(50% - 1rem);
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    min-width: 300px;
}

.brand-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    text-decoration: none;
    color: #312726;
    border-bottom: 1px solid #eee;
    transition: all 0.3s ease;
}

.brand-item:last-child {
    border-bottom: none;
}

.brand-item:hover {
    background-color: #f8f8f8;
    padding-left: 2.5rem;
}

.arrow {
    font-size: 1.2rem;
}

.featured-watch {
    overflow: hidden;
    /* flex: 0 calc(50% - 0rem); */
    flex: 1 1 calc(50% - 1rem);
    position: relative;
    border-radius: 20px;
    background: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    min-width: 300px;
}


/* Footer Styling */
footer {
    background: #111;
    color: #fff;
    padding: 50px 20px 20px;
    font-family: 'Arial', sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    text-align: left;
}

.footer-brand h2 {
    font-family: 'Clash Display', sans-serif;
    font-size: 28px;
    margin-bottom: 5px;
}

.footer-brand p {
    font-size: 14px;
    opacity: 0.7;
}

.footer-links,
.footer-contact,
.footer-social {
    /* gap: 50px; */
    line-height: 17px;
    /* height: calc(auto + 10rem); */
    margin-top: 20px;
}

.footer-links h3,
.footer-contact h3,
.footer-social h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ffffff;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 8px;
}

.footer-links ul li a {
    color: #bbb;
    text-decoration: none;
    transition: 0.3s;
}

.footer-links ul li a:hover {
    color: #c39a06;
}

.footer-contact p {
    margin: 5px 0;
    font-size: 14px;
    opacity: 0.8;
}

.footer-contact p a {
    color: #eaeaea;
}

.footer-social a {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    color: #bbb;
    transition: 0.3s;
}

.footer-social a:hover {
    transition: 0.3s all ease-in-out;
    color: #ead76b;
}

.footer-bottom {
    opacity: 0.3;
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #393939;
    padding-top: 20px;
    font-size: 13px;
}

@media (max-width: 1400px) {
    h1 {
        font-size: 5rem;
    }

    .section-header h2 {
        font-size: 3rem;
    }
}

@media (max-width: 1200px) {
    h1 {
        font-size: 4rem;
    }

    .hero-info {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .watch-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .discover-grid {
        flex-direction: column;
    }

    .discover-images {
        flex-direction: column;
    }

    .brands-grid {
        flex-direction: column;
    }

    .brand-card,
    .brands-list,
    .featured-watch {
        flex: 1 1 100%;
    }
}

@media (max-width: 768px) {
    nav {
        padding: 1rem 2rem;
    }

    .nav-links {
        display: none;
    }

    .hero {
        height: auto;
        margin-top: 5rem;
        flex-direction: column;
        padding: 0 2rem;
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .hero-image {
        flex: none;
        position: static;
        height: 40vh !important;
    }

    .hero-content {
        padding-right: 0;
        padding-bottom: 2rem;
    }

    .section-header {
        padding: 3rem 2rem 2rem;
    }

    .section-header h2 {
        font-size: 2.5rem;
    }

    .watch-row {
        padding: 0 2rem;
    }

    .watch-grid {
        grid-template-columns: 1fr;
        padding: 0 2rem;
    }

    .discover {
        padding: 2rem;
    }

    .discover-grid {
        padding: 0 1rem;
    }

    .discover-images {
        flex-direction: row;
    }

    .discover-images img {
        overflow: hidden;
    }

    .brands-grid {
        padding: 0 2rem;
    }

    .shop-brands {
        padding: 2rem;
    }

    /* for footer */
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-social a {
        margin: 5px;
    }
}

@media (max-width: 480px) {
    .hero {
        padding: 0 1rem;
    }

    .nav-icons {
        display: none;
    }

    h1 {
        font-size: 2.5rem;
    }

    .section-header h2 {
        font-size: 2rem;
    }

    .card-tag {
        top: 1rem;
        left: 1rem;
        font-size: 0.8rem;
    }

    .watch-row {
        padding: 0 1rem;
    }

    .watch-info h3 {
        font-size: 1rem;
    }

    .shop-brands {
        padding: 0rem;
    }

    .brands-grid {
        padding: 0 0.7rem;
    }

    .brand-card {
        flex: 1 1 100%;
        width: 100%;
    }

    .discover-images {
        flex-direction: column;
    }
}